body {
  background-color: hsl(82 9.2% 81.3%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 0.2em;
}

button {
  margin: 1.2em;
  padding: 5px;
  font-size: 1rem;
  background-color: hsl(82 28% 82%);
  border: solid black 2.5px;
  border-radius: 8px;
  font-weight: 550;
}

div.container {
  width: 80vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: black solid 3px;
  padding: 12px;
}

div.rowSquare {
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

div.colSquare {
  background-color: black;
  margin: 1px;
}
